.header {
  background: #8367c7;
  color: #fff;

  div {
    max-width: 1120px;
    margin: 0 auto;

    padding: 2rem;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  img {
    width: 5.6rem;
    height: 2rem;
  }
}
